<main class="contenedor">
    <form action="/crear-cuenta" method="POST" class="default-form crear_cuenta">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Ingresa tu nombre completo">
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Ejemplo: usuario@gmail.com">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Crea una contraseña">
        </div>
        <div class="campo">
            <label>Repetir Password</label>
            <input type="password" name="confirmar" placeholder="Repite la contraseña">
        </div>
        <div class="campo acciones">
            <a href="/iniciar-sesion">Iniciar Sesión</a>
        </div>

        <div class="campo campo_button">
            <input type="submit" value="Crear Cuenta" class="btn btn-azul">
        </div>
    </form>
</main>