<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form editar_perfil" enctype="multipart/form-data">
        <div class="campo">
            <label>Nombre</label>
            <input value="{{usuario.nombre}}" type="text" name="nombre" placeholder="Ingresa tu nombre completo">
        </div>
        <div class="campo">
            <label>E-mail</label>
            <input value="{{usuario.email}}" type="email" name="email" placeholder="Ejemplo: usuario@gmail.com">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Escribe tu contraseña">
        </div>
        <div class="campo">
            <div class="custom-file-input-wrapper">
                <input type="file" name="imagen" class="custom-file-input" placeholder="Tu imagen de perfil">
                <img src="uploads/perfiles/{{usuario.imagen}}" class="admin-perfil_editar
                " alt="imagen_usuario">
                <span class="custom-file-label">Subir imagen</span>
            </div> 
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-azul" value="Guardar Cambios">
        </div>
    </form>
</main>
