<main class="contenedor">
    <form action="/iniciar-sesion" method="POST" class="default-form iniciar_sesion">
        <div class="campo">
            <label>E-mail</label>
            <input type="email" name="email" placeholder="Ingresa tu correo electrónico">
        </div>
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Escribe tu contraseña">
        </div>
        <div class="campo acciones">
            <a href="/crear-cuenta">Crea una Cuenta</a>
            <a href="/reestablecer-password">Olvidé mi password</a>
        </div>
        <div class="campo campo_button">
            <input type="submit" value="Iniciar Sesión" class="btn btn-azul">
        </div>
    </form>
</main>