<main class="contenedor">
    <form method="POST" class="default-form editar_perfil">
        <div class="campo">
            <label>Nueva contraseña</label>
            <input type="password" name="password" placeholder="Ejemplo: usuario@gmail.com" required>
        </div>
        <div class="campo campo_button">
            <input type="submit" value="Guardar" class="btn btn-azul">
        </div>
    </form>
</main>