html {
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: #f9f9f9;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
}
p {
    font-size: 1.6rem;
}
/** Globales **/
h1, h2, h3  {
    color: #ffffff;
    margin: 0;
}
h1 {
    font-weight: 700;
    font-size: 4rem;
    color: #f9f9f9;
}
h2 {
    font-weight: 700;
    font-size: 4rem;
    color: #0f0e17;
}
h3 {
    font-size: 1.5rem;
    color: #616065;
}
.lista-vacantes{
    margin: 5rem 0;
}

.box_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contenedor {
    max-width: 1280px;
    margin: 0 auto;
}

.separador {
    padding-bottom: 2rem;
    padding-top:2rem;
    border-bottom: 1px solid #272727;
}
.caja{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.caja_info{
    display: flex;
    justify-content: space-between;
}
.contenido-principal{
    padding: 5rem 3rem 7rem 3rem;
}

/** Botones **/
.btn {
    font-size: 1.8rem;
    padding: 1.4rem 6rem;
    border-radius: 6rem;
    color: #0f0e17;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color .2s ease-out;
    display: block;
    border: solid 2px #0f0e17;
}
.btn-detalles {
    background-color: #0f0e17;
    color: #f9f9f9;
    font-weight: 300;   
    font-size: 1.25rem;
    padding: 1rem 1rem;
}
.btn-detalles:hover {
    background-color: #eceff4;
    color: #0f0e17;
}

.btn-azul {
    background-color: #88d1ff;

}
.btn-azul:hover {
    background-color: #4face6;
    color: #0f0e17;
}
.btn-gris {
    background-color: #eceff4;

}
.btn-gris:hover {
    background-color: #989ba0;
    color: #0f0e17;
}

.editar-btn {
    flex: 0 0 auto;
    text-align: center;
    margin-top: 4rem;
    width: 32%;
    font-size: 1.5rem;
    padding: 1rem 6rem;
}

/** Header **/
.tagline {
    font-size: 2.2rem;
    color: #0f0e17;
    margin: 2rem 0 3rem 0;
}
.site-header {
    max-width: 1280px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fff;
    padding: 5rem 3rem 5rem 3rem;
    margin-top: 5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}

.nombre-sitio {
    display: flex;
    justify-content: center;
    background-color: #100E17;
    padding: 1rem 0 1rem 0;
}
.nombre-sitio a {
    color: white;
    text-decoration: none;
}
.box_info_header {
    display: flex;
    max-width: 1280px;
    align-items: center;
    width: 100%;
}
.buscador {
    display: flex;
    flex: 1;
    justify-content: center;
}
.buscador form {
    flex:1;
    position: relative;
}

/** Grid de Vacantes **/
.grid-vacantes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem; 
    justify-items: center;
}

.vacante {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2rem;
    border: 2px solid #0f0e17;
    padding: 1rem;
    box-sizing: border-box;
}

/** Skills **/
#show-more-btn{
    border-radius: 0.7rem;
    width: 14%;
    padding: 0.7rem;
    font-size: 1.25rem;
    background-color: #d4f6ed;
    cursor: pointer;
}

.hidden_show_more {
    display: none !important;
  }
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills li {
    list-style: none;
    background-color: #fce1cc;
    border: 2px solid #100e17;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #100e17;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

.nombre_skill {
    display: inline-block;
    border: 1px solid #000;
    border-radius: 2rem;
    padding: 0.25rem 1.25rem;
    font-size: 1.25rem !important;
    text-align: center;
    min-width: 10rem;
    box-sizing: border-box;
}

.skills .skills-vacante{
    line-height: 2;
}

@media (min-width: 768px) {
    .buscador form {
        flex: 0 0 35%;
    }
}

@media (min-width:768px){
    .vacante-contenedor {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .vacante-contenedor main{
        flex: 0 0 60%;
    }
    .vacante-contenedor aside {
        flex: 0 0 calc(40% - 2rem);
    }
}
/************************* PÁGINA VACANTES**************************/
.box_info_vacante{
    margin-bottom: 4rem;
    width: 100%;
}
.caja_vacante{
    display: flex;
    align-items: center;
    color: #616065;
}
.nombre_emnpresa{
    margin-right: 1rem;
    font-size: 2.25rem;
}
.nombre_ubicacion_vacante{
    margin-left: 1rem;
    font-size: 2.25rem;
}
.contenido-principal{
    background-color: #fff;
}
.box-vacante{
    display: flex;
    justify-content: space-around;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid #0f0e17;
}
.caja_vacante{
    display: flex;
}
.etiqueta{
    font-weight: 600;
}
.etiqueta,
.nombre{
    margin: 1rem;
    color: #0f0e17; 
}
.nombre{
    font-weight: 400;
    
}
.skills_vacante{
    color: #616065;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill-item{
    margin-bottom: 2rem;
}

.sidebar{
    margin-top: 4rem;
}
/************************* FIN**************************/

/************************** PANEL ADMIN ****************************/
    .vacante_admin{
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        border-radius: 1rem;
        border: 2px solid #100E17;
        box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
    }
    .caja_admin{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .box_candidatos{
        display: flex;

        gap: 1rem;
    }
    .btn-amarillo,
    .btn-verde,
    .btn-rojo {
        font-size: 1.5rem;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
    }
    .btn-amarillo {
        background-color: #fce1cc;
    }
    .btn-verde {
        background-color: #d4f6ed;
    }
    .btn-rojo {
        background-color: #fbe2f4;
    }
    .btn-verde_enviar{
        background-color: #d4f6ed;;
    }
    .btn-verde_enviar:hover{
        background-color: #95cebf;;
    }
    .editar_perfil {
        width: 35% !important;
        background-color: #fff;
        padding: 3rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid #0f0e17;
    }
    .editar_perfil .campo {
        flex-direction: column;
        width: 100%;
    }
    .editar_perfil label {
        flex: 0 0 5rem !important;
    }
    .contenedor .default-form .campo {
        margin-bottom: 20px;
    }
    .contenedor .default-form .campo input[type="text"],
    .contenedor .default-form .campo input[type="email"],
    .contenedor .default-form .campo input[type="password"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

    .custom-file-input-wrapper {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .custom-file-input {
        width: 100%;
        height: 40px;
        opacity: 0; /* Ocultar el input real */
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        background-color: #989ba0;
    }

    .custom-file-label {
        display: block;
        width: 100%;
        height: 40px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #f5f5f5;
        text-align: center;
        cursor: pointer;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    .custom-file-input:focus + .custom-file-label,
    .custom-file-input:hover + .custom-file-label {
        border-color: #999;
    }
    
    
/************************* FIN**************************/


/************************* CANDIDATOS **************************/

.lista-candidatos h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    color: #007bff;
}

.candidato {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    border: 2px solid #100E17;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.caja_candidato {
    margin: 0 15px;
    display: flex;
    align-items: center;
}

.etiqueta {
    font-weight: bold;
    color: #555;
}

.nombre {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.btn-verde-candidatos {
    background-color: #d4f6ed;
    color: #218838;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

.btn-verde-candidatos:hover {
    background-color: #61b49e;
    color: #fff;
}
/************************* FIN**************************/

@media (min-width: 425px) and (max-width: 768px) {
    .grid-vacantes {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en este rango de ancho */
        gap: 1rem; /* Espacio entre las columnas */
    }
}

@media (max-width: 424px) {
    h2{
        font-size: 2em;
    }
    .site-header{
        align-items: center;
    }
    .btn{
        width: 85%;
        padding: 1rem 2rem;
    }
    .btn-detalles{
        width: 100%;
    }
    .grid-vacantes {
        display: grid;
        grid-template-columns: 1fr; /* 1 columna en este rango de ancho */
        gap: 0.5rem; /* Espacio entre las columnas */
    }
    .nombre-sitio{
        padding: 0;
    }
}
.buscador input[type="text"] {
    background-color: rgba(255,255,255,.1);
    width: 100%;
    border: none;
    padding: .5rem 4rem .5rem 2rem;
    height: 5rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.5rem;
    outline: none;
}
.buscador input[type="submit"] {
    display: block;
    text-indent: -9999px;
    height: 30px;
    width:30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url(../img/lupa.png);
    background-color: transparent;
    border: none;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
}
.buscador input[type="submit"]:hover {
    cursor: pointer;
}

.vacante{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 2rem;
    border: 2px solid #0f0e17;
    padding: 1rem;
    height: 100%; 
    min-height: 36rem;
    width: 100%;
}
.caja {
    padding: 1.5rem;
    background-color: #d4f6ed;
    border-radius: 1.5rem;
    height: 100%; 
    min-height: 25rem; 
}
.caja p {
    color: #0f0e17;
}
.contrato {
    text-transform: capitalize;
    margin: 0;
}
.caja .puesto,
.caja .etiqueta {
    font-weight: 400;
    color: #616065;
    font-size: 2.6rem;
    margin: 0;
    text-align: left;
}
.puesto{
    color: #0f0e17 !important;
}
.caja .etiqueta {
    margin:1rem 0 0 0;
}
.caja .nombre { 
    font-size: 1.5rem; 
    margin: .5rem 0; 
    text-align: left;
    color: #0f0e17;
}
.nombre_skill {
    display: inline-block; 
    border: 2px solid #100E17;
    border-radius: 2rem;
    padding: 0.25rem 1.25rem;
    font-size: 1.25rem !important;
    text-align: center;
    min-width: 10rem;
    line-height: 1.5;
}
.caja .btn {
    text-align: center;
}

.centrar-vertical{
    display: flex;
    align-items: center;
    justify-content: center;
}
.centrar-horizontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vacante-contenedor h2 {
    font-size: 2.4rem;
    margin-bottom: 2rem;
}
.contenido-superior {
    margin-bottom: 6rem;
}

.vacante-descripcion h1 {
    line-height: 1.4;
}
.vacante-descripcion *{
    color: #616065!important;
    line-height: 2.2;
}
.vacante-descripcion div  {
    font-size: 1.8rem;
    line-height: 1.5;
}
.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill-item {
    flex: 1 1 calc(50% - 1.5rem); 
}

.enviar-datos h2 {
    font-size: 4rem;
    color: #0f0e17 !important;
}
.enviar-datos p {
    color: #0f0e17 !important;
    font-size: 1.8rem;
}



/** Iniciar Sesión **/
.default-form {
    max-width: 800px;
    margin: 4rem  auto 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border: 2px solid #000;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 11px rgba(0, 0, 0, 0.1);
}
.default-form h3 {
    color: #616065;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

.campo_campo>h3 {
    margin-top: 7rem;
}
.content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem ;
    width: 100%;
}
.content-conocimientos {
    margin-bottom: 0;
}
.default-form .campo {
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.default-form .campo select{
    font-size: 1.5rem;
    color: #676767;
}
.default-form label {
    padding-top: 1rem;
    flex: 0 0 5rem;
    font-size: 1.8rem;
    color: #100e17;
    font-weight: 400;
    text-transform: uppercase;
}
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="text"],
.default-form input[type="number"],
.default-form input[type="file"],
.default-form select,
.default-form textarea  {
    flex: 1;
    height: 4.5rem;
    padding: 1rem;
    font-size: 1.8rem;
    border-radius: 4px;
    border: none;
    background-color: #0f0e1712;
    outline: none;
} 

.default-form input[type="file"] {
    color: white;
}
trix-toolbar, 
trix-editor {
    background-color: white!important;
}
trix-toolbar {
    padding: 1rem;
}
trix-editor {
    font-size: 1.8rem;
    min-height: 30rem!important;
    padding: 2rem;
}
trix-editor h1, 
trix-editor blockquote {
    color: black;
}
trix-toolbar .trix-button-group {
    margin-bottom: 0;
}
trix-toolbar .trix-button--icon-strike {
    display: none;
}
.campo.descripcion {
    display: block;
}
.campo.descripcion label {
    display: block;
    margin-bottom: 2rem;
}
.default-form input[type="submit"] {
    margin-top: 6rem;
}
.default-form input[type="submit"]:hover {
    cursor: pointer;
}

.default-form .acciones {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.default-form a {
    color: #227cb4;
    text-decoration: none;
    margin-bottom: 0.25rem;
}
.default-form a:hover{
    text-decoration: underline;
}

.lista-conocimientos {
    list-style: none;
    padding: 0;    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* Clase base con estilos comunes */
.lista-conocimientos li{
    list-style: none;
    background-color: #fce1cc;
    border: 2px solid #100e17;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 400;
    color: #100e17;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Clase específica para .lista-conocimientos */
.lista-conocimientos li {
    flex: 0 0 calc(50% - 1rem);
    text-align: center;
    height: 5rem;
}

.lista-conocimientos  li.activo {
    background-color: #fbe2f4;
}
.lista-conocimientos  li:hover {
    cursor: pointer;
}

@media (min-width:480px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 33% - 1rem);
    }
}
@media (min-width:768px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 25% - 1rem);
    }
}
@media (min-width:992px) {
    .lista-conocimientos li {
        flex: 0 0 calc( 20% - 1rem);
    }
}

/** Admin **/

.box_usuario{
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

p.candidatos {
    font-weight: 400;
    color: white;
    display: block;
    font-size: 1.8rem;
    margin: 1rem 0 0 0;
    text-align: left!important;
    text-decoration: none;
    color: #616065;
}
.admin-perfil {
    width: 50%;
    align-self: center;
}
.cerrar-sesion p {
    margin:  0 2rem 0 0;
    font-weight: 600;
    font-size: 2.25rem;
}
.cerrar-sesion a {
    margin:  0 2rem 0 0;
    color: #fff;
}

.admin_cerrar_sesion a:hover{
    text-decoration: underline;
}
.cerrar-sesion {
    color: white;
    display: flex;
    align-items: center;
}
.cerrar-sesion img {
    width: 80px;
}
.botones {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 2rem 0 5rem 0;
    margin-bottom: 5rem;
}
.botones a {
    margin-right: 2rem;
}
.caja_admin h3{
    font-size: 2rem;
}
.lista-candidatos p,
.lista-vacantes p {
    color: #0f0e17;
    text-align: left;
    font-weight: 400;
    text-align: center;
    font-size: 2rem;
}
.caja_admin .candidatos{
    font-weight: 400;
}
.caja > .categoria_vacante{
    text-align: left;
    margin: 0 5rem 3rem 0;
}
.ubicacion,
.contrato {
    font-weight: 400 !important;
}

.caja > .categoria{
    margin: 0;
}

.nombre_ubicacion{
    font-size: 1.25rem;
    color: #616065;
}

/** Alertas **/
.swal2-popup {
    width: 60rem!important;
}
.swal2-popup .swal2-title {
    font-size: 3.4rem!important;
}
.swal2-content {
    font-size: 2rem!important;
}
.swal2-popup .swal2-styled.swal2-cancel,
.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 2rem!important;
}

/** Flash Messages **/
.alertas {
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 300px;
}
.alerta {
    padding: 1rem 3rem; 
    color: #fff;
    font-size: 2.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: .3rem;
}
.correcto {
    background-color: #00C897;
}
.error {
    background-color: #d63f72;
    margin-bottom: 1rem;
}
.desaparecer {
    opacity: 0;
}

/** Biografia Vacante **/
.enviar-datos{
    border-right: 2px solid #000;
}
.info-reclutador h2 {
    color: #616065;
    font-size: 2.4rem;
}
.info-reclutador img {
    max-width: 300px;
    width: 100%;
    border: 1px solid #0f0e17
}
.datos-reclutador {
    border-top: 3px solid #272727;
    padding: 5rem 0;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.datos-reclutador p {
    font-size: 2.4rem;
    color: #616065;
}
@media (min-width:768px){
    .enviar-datos {
        flex: 0 0 calc(70% - 1rem);
    }
    .info-reclutador {
        flex: 0 0 calc(30% - 1rem );
    }
}
.enviar-datos h2 {
    font-size: 4rem;
    color: white;
}
.enviar-datos p {
    color: white;
    font-size: 1.8rem;
}